h1{
 font-size:3em;
 text-decoration:underline;
 color:brown;
}
ul{
    list-style-type: disc;
    background-color:lightblue;
}
ol{
    list-style-type:A;
}
a{
    color:black;

}
a:hover{
    color:blueviolet;
}